@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

p {
  color: #404040;
  font-size: 16px;
  font-weight: 300;
  font-family: "Noto Sans", sans-serif;
  line-height: 27.6px;
}

header {
  height: 91vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../blocs/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 65%;
  height: 50px;
  position: absolute;
  top: 0;
  padding-top: 15px;
}

header nav img {
  width: 150px;
}

header div {
  display: flex;
  gap: 30px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 35px;
  margin-top: 13px;
}

header nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

header section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-top: 30px;
}

.navburger {
  display: none;
}

#buttontake2 {
  display: none;
}

.menuburger {
  display: none;
}

/* Boutton qui match au texte, pour faciliter le fait de
pouvoir tous les faire avec une seule propriété. :) */

button {
  background-color: #fb2056;
  color: white;
  border: none;
  height: 45px;
  width: 165px;
  border-radius: 30px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

button:hover {
  background-color: #da1c4b;
  border: #da1c4b;
  cursor: pointer;
}

section p {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #404040;
}

#whitetext {
  color: #ffffff;
}

/* Premier modèle, différent des autres car dimensions
uniques. :) */

span {
  height: 2px;
  width: 60px;
  background-color: #fb2056;
}

section h1 {
  font-size: 64px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 89.6px;
  text-align: center;
}

.bloc {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

main div img {
  width: 100px;
}

#whitequote {
  display: flex;
  padding-right: 100px;
}

/* Découpe du texte en 2 parties pour + de faciliter à modifier
un paragraphe puis l'autre derrière :) */

.text1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.text1 > p {
  font-size: 21px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  bottom: 0;
}

.bloc > :last-child {
  width: 100px;
  margin-right: 100px;
}

#adam {
  font-size: 16px;
}

.upcoming {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-top: 100px;
}

h3 {
  color: #1a1a1a;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  line-height: 44.8px;
}

/* Permet d'avoir plusieurs span en rouge, 
selon la taille, afin de les modifier */

#spanRed2 {
  width: 90px;
}

.upimages {
  width: 466px;
  box-shadow: 10px 10px 5px 0px #e3e3e3;
  max-width: 100%;
}

.upthings {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
  padding-top: 35px;
  gap: 100px;
}

.up1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h4 {
  display: flex;
  color: #1a1a1a;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 44.8px;
  padding-top: 15px;
}

.text2 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

.text3 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

/* Pour gérer spécifiquements les emplacements de
tel ou tel bouton, je refais une copie CSS de ceux
qui se situent dans mon header */

.learn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.learn2:hover {
  background-color: #da1c4b;
  border: #da1c4b;
}

#bg1 {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../blocs/section-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 150px;
}

#explore1 {
  display: flex;
  width: 28%;
  flex-direction: column;
  margin-left: 50%;
}

#spanRed3 {
  width: 55px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* ETW = Explore the Wolrd
facile de se répérer entre les sections. */

#etw {
  color: #ffffff;
  font-size: 2.15rem;
}

#etwText {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  font-family: "Noto Sans", sans-serif;
}

.learn3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.learn3:hover {
  background-color: #da1c4b;
  border: #da1c4b;
}

#upcomingtours {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

.upcomingtext {
  display: flex;
  width: 25%;

  flex-direction: column;

  margin-left: 18%;
  padding-top: 10px;
}

.upcomingpics {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#spanRed4 {
  width: 45px;
  margin-top: 5%;
  margin-bottom: 10%;
}

#text4 {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10%;
  width: 85%;
}

/* Pour redimensionner les images une par une, 
afin d'ajuster au besoin pour une seule d'entre
elles. */

#img1 {
  width: 346px;
  margin-right: 100px;
}

#img2 {
  width: 346px;
  margin-right: 100px;
}

#img3 {
  width: 346px;
  margin-right: 100px;
}

#img4 {
  width: 346px;
  margin-right: 100px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  height: 100px;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 30px;
}

footer p {
  text-align: center;
  color: #ffffff;
}

/* Section @media pour le responsive */

@media (max-width: 1200px) {
  header nav {
    display: flex;
    width: 90%;
  }

  header nav img {
    width: 150px;
  }

  header div {
    display: flex;
    gap: 30px;
  }

  #bg1 {
    justify-content: center;
  }

  #explore1 {
    margin: 0%;
  }
}

@media (max-width: 1112px) {
  #whitequote {
    display: flex;
    height: 77px;
    padding-left: 20px;
  }
}

@media (max-width: 944px) {
  #explore1 {
    width: 40%;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 840px) {
  header nav {
    display: flex;
  }

  header div {
    display: flex;
  }

  #mininav {
    display: none;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    gap: 0;
  }

  header nav ul li {
    background-color: #fa2057;
    opacity: 1;
    padding: 10px;
    width: 70px;
  }

  header nav ul li a {
    color: #ffffff;
    display: flex;
    justify-content: center;
  }

  #buttontake {
    display: none;
  }

  .navburger {
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-top: 0;
    width: 100%;
    gap: 0;
  }

  .navburgerjs {
    display: flex;
  }

  .menuburger {
    background-image: url(../blocs/svg+xml;base64,PHN2ZyBjbGFzcz0iYXN0LW1vYmlsZS1zdmcgYXN0LW1lbnUtc3ZnIiBmaWxsPSJjdXJyZW50Q29sb3IiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAg.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
  }

  #burgermenuicon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
  }

  .bloc {
    flex-direction: column;
    align-items: center;
  }

  #whitequote {
    padding: 5%;
  }

  .upthings {
    flex-direction: column;
  }
  .upimages {
    width: 100%;
  }

  #upcomingtours {
    flex-direction: column;
    align-items: center;
  }

  .upcomingtext {
    margin-left: 0;
    width: 40%;
    align-items: center;
  }

  .upcomingtext h3 {
    text-align: center;
    font-size: 2.15rem;
  }

  .upcomingtext #text4 {
    text-align: center;
  }

  .upcomingpics {
    flex-direction: column;
    padding-top: 5%;
  }

  #img1 {
    padding: 2%;
    width: 100%;
  }
  #img2 {
    padding: 2%;
    width: 100%;
  }
  #img3 {
    padding: 2%;
    width: 100%;
  }
  #img4 {
    padding: 2%;
    width: 100%;
  }
}

@media (max-width: 424px) {
  #section1 h1 {
    font-size: 43.6px;
    line-height: 44.8px;
  }
}

@media (max-width: 376px) {
  #section1 p {
    text-align: center;
  }
}
