@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

header {
  height: 91vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../blocs/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 65%;
  height: 50px;
  position: absolute;
  top: 0;
  padding-top: 15px;
  gap: 30px;
}

header nav img {
  width: 150px;
}

header div {
  display: flex;
  gap: 30px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 35px;
  height: 100%;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin-top: 13px;
}

header nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
}

header section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-top: 30px;
  width: 80%;
  height: 290.4px;
}

#menuburger {
  display: none;
}

/* Boutton qui match au texte, pour faciliter le fait de
pouvoir tous les faire avec une seule propriété. :) */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fb2056;
  color: white;
  border: none;
  height: 45px;
  width: 165px;
  border-radius: 20%;
  border-style: solid;
  border-color: #fb2056;
  line-height: 1em;
  text-transform: uppercase;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

button:hover {
  background-color: #da1c4b;
  border: #da1c4b;
  cursor: pointer;
}

section p {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 31.2px;
}

/* Premier modèle, différent des autres car dimensions
uniques. :) */

#spanRed {
  height: 2px;
  width: 60px;
  background-color: #fb2056;
}

section h1 {
  font-size: 64px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 89.6px;
  text-align: center;
}

.bloc {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

main div img {
  width: 100px;
}

#whitequote {
  display: flex;
  padding-right: 100px;
}

/* Découpe du texte en 2 parties pour + de faciliter à modifier
un paragraphe puis l'autre derrière :) */

.text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  gap: 20px;
}

.text1 > p {
  display: flex;
  flex-flow: column;
  color: #404040;
  font-size: 21px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  line-height: 27.6px;
  text-align: center;
  bottom: 0;
}

.bloc > :last-child {
  width: 100px;
  margin-right: 100px;
}

#adam {
  font-size: 16px;
}

.upcoming {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

h3 {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 44.8px;
}

/* Permet d'avoir plusieurs span en rouge, 
selon la taille, afin de les modifier */

#spanRed2 {
  height: 3px;
  width: 90px;
  background-color: #fb2056;
}

.upimages {
  width: 466px;
  box-shadow: 10px 10px 5px 0px #e3e3e3;
  max-width: 100%;
}

.upthings {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 10%;
  padding-top: 35px;
  height: auto;
  gap: 100px;
}

.up1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

h4 {
  display: flex;
  justify-content: center;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 44.8px;
  text-align: center;
  padding-top: 15px;
}

.text2 {
  display: flex;
  justify-content: center;
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  line-height: 27.6px;
  text-align: center;
}

.text3 {
  display: flex;
  justify-content: center;
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  line-height: 27.6px;
  text-align: center;
}

/* Pour gérer spécifiquements les emplacements de
tel ou tel bouton, je refais une copie CSS de ceux
qui se situent dans mon header */

.learn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fb2056;
  color: white;
  border: none;
  height: 45px;
  width: 165px;
  border-radius: 20%;
  border-style: solid;
  border-color: #fb2056;
  line-height: 1em;
  text-transform: uppercase;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-family: sans-serif;
  font-weight: 700;
}

.learn2:hover {
  background-color: #da1c4b;
  border: #da1c4b;
}

#bg1 {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../blocs/section-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}

#explore1 {
  display: flex;
  width: 28%;
  height: 100%;
  flex-direction: column;
  margin-left: 50%;
  align-items: start;
  text-align: start;
}

#spanRed3 {
  height: 3px;
  width: 55px;
  background-color: #fb2056;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* ETW = Explore the Wolrd
facile de se répérer entre les sections. */

#etw {
  display: flex;
  justify-content: start;
  color: #ffffff;
  font-size: 2.15rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 44.8px;
  text-align: center;
}

#etwText {
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  font-family: "Noto Sans", sans-serif;
  line-height: 27.6px;
  text-align: start;
  bottom: 0;
  align-items: start;
  margin-bottom: 7%;
}

.learn3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fb2056;
  color: white;
  border: none;
  height: 45px;
  width: 190px;
  border-radius: 20%;
  border-style: solid;
  border-color: #fb2056;
  line-height: 1em;
  text-transform: uppercase;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-family: sans-serif;
  font-weight: 700;
  margin-top: 5%;
}

.learn3:hover {
  background-color: #da1c4b;
  border: #da1c4b;
}

#upcomingtours {
  display: flex;
  flex-direction: row;
  padding-top: 120px;
  padding-bottom: 120px;
  align-items: stretch;
}

.upcomingtext {
  display: flex;
  width: 25%;
  height: 100%;
  align-items: start;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  text-align: left;
  margin-left: 18%;
  padding-top: 10px;
}

.upcomingpics {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

#spanRed4 {
  height: 3px;
  width: 45px;
  background-color: #fb2056;
  margin-top: 5%;
  margin-bottom: 10%;
}

#text4 {
  display: flex;
  color: #404040;
  font-size: 16px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 27.6px;
  padding-bottom: 10%;
  width: 85%;
}

#img1 {
  display: flex;
  width: 346px;
  height: 216px;
  margin-right: 100px;
}

#img2 {
  display: flex;
  width: 346px;
  height: 352px;
  margin-right: 100px;
}

#img3 {
  display: flex;
  width: 346px;
  height: 352px;
  margin-right: 100px;
}

#img4 {
  display: flex;
  width: 346px;
  height: 199px;
  margin-right: 100px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: white;
  height: 100px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 30px;
}

footer p {
  font-size: 16px;
  font-weight: semi-bold;
  font-family: Noto Sans, sans-serif;
  line-height: 27.6px;
  text-align: center;
}

@media (max-width: 1200px) {
  header nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 50px;
    position: absolute;
    top: 0;
    padding-top: 15px;
    gap: 30px;
  }

  header nav img {
    width: 150px;
  }

  header div {
    display: flex;
    gap: 30px;
  }

  #bg1 {
    justify-content: center;
  }

  #explore1 {
    margin: 0%;
  }
}

@media (max-width: 1112px) {
  #whitequote {
    display: flex;
    width: 100px;
    height: 77px;
    padding-left: 20px;
  }
}

@media (max-width: 944px) {
  #explore1 {
    display: flex;
    width: 40%;
    height: 50%;
    flex-direction: column;
    margin-left: 0%;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 840px) {
  header nav {
    display: flex;
  }

  header div {
    display: none;
  }

  #menuburger {
    display: flex;
    width: 50px;
    height: 50px;
    color: #fa2057;
  }

  #menuburger:hover {
    cursor: pointer;
    color: #da1c4b;
  }

  #burgermenuicon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
  }

  #section1 p {
    font-size: 16px;
    line-height: 20px;
  }

  .bloc {
    flex-direction: column;
    align-items: center;
  }

  #whitequote {
    display: flex;
    padding-right: 0px;
    padding: 5%;
  }

  .upthings {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10%;
    padding-top: 35px;
    height: auto;
    gap: 100px;
  }
  .upimages {
    width: 100%;
  }

  #upcomingtours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .upcomingtext {
    margin-left: 0;
    width: 40%;
    align-items: center;
  }

  .upcomingtext h3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.15rem;
    font-weight: 700;
  }

  .upcomingtext #text4 {
    text-align: center;
    font-family: "Noto Sans", sans-serif;
  }

  .upcomingpics {
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 5%;
  }

  #img1 {
    margin: 0;
    padding: 2%;
    width: 100%;
    height: 100%;
  }
  #img2 {
    margin: 0;
    padding: 2%;
    width: 100%;
    height: 100%;
  }
  #img3 {
    margin: 0;
    padding: 2%;
    width: 100%;
    height: 100%;
  }
  #img4 {
    margin: 0;
    padding: 2%;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 630px) {
  header section {
    gap: 10px;
  }
}

@media (max-width: 560px) {
  header section {
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
  }
}

@media (max-width: 471px) {
  header section {
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 376px) {
  header section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #section1 p {
    font-size: 16px;
    line-height: 20px;
  }

  #section1 h1 {
    font-size: 43.6px;
    line-height: 44.8px;
  }
}

@media (max-width: 337px) {
  .upcoming h3 {
    text-align: center;
  }
}
